* {
  margin: 0;
  padding: 0;
}

.app {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  height: 100vh;
}

.icon-btn {
  width: 20rem;
  height: 5rem;
}

.nav-text {
  padding-left: 1rem;
}

@media only screen and (max-width: 600px) {
  .nav-text {
    display: none;
  }
}
